@define-color bg        #282828; 
@define-color fg        #ebdbb2; 
@define-color gray      #928374; 
@define-color red       #fb4934; 
@define-color green     #b8bb26; 
@define-color yellow    #fabd2f; 
@define-color blue      #83a598; 
@define-color purple    #d3869b; 
@define-color aqua      #8ec07c; 
@define-color orange    #fe8019; 

* {
    background-color: @bg;
    color: @fg;
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: 'JetBrainsMono Nerd Font', monospace;
    font-size: 12px;
}

window#waybar {
    background-color: @bg;
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces button {
    all: initial; 
    background-color: @bg;
    color: @gray; 
    padding: 0 6px;
    margin: 0 1.5px;
    min-width: 9px;
    font-family: 'JetBrainsMono Nerd Font';
    font-size: 12px;
}

#workspaces button.active {
    color: @orange;     font-weight: bold;
}

#workspaces button:hover {
    color: @fg; }

#workspaces button.empty {
    opacity: 0.5;
}


#cpu,
#memory,
#battery,
#pulseaudio,
#network,
#backlight,
#custom-music,
#custom-spotify,
#custom-lock,
#custom-power,
#language,
#tray {
    min-width: 12px;
    margin: 0 7.5px;
    background-color: @bg;
}


#clock {
    margin-left: 8.75px;
    margin-right: 8.75px;
    color: @blue;
    font-weight: bold;
}

#battery {
    color: @green;
}

#battery.warning:not(.charging) {
    color: @red;
}

#cpu { 
    color: @red; }

#memory { 
    color: @yellow; 
}

#network { 
    color: @aqua; 
}

#pulseaudio { 
    color: @purple; 
}

#backlight { 
    color: @yellow; 
}

#custom-spotify { 
    color: @green; 
}

#custom-music { 
    color: @purple; 
}

#custom-lock { 
    color: @gray; 
}

#custom-power { 
    color: @red; 
}

#language {
    color: @fg;
}


#tray {
    margin-right: 16px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red;
}

#network {
    margin-right: 13px;
}

.modules-left {
    margin-left: 8px;
}

.modules-right {
    margin-right: 8px;
}

tooltip {
    background: @bg;
    border: 1px solid @orange; 
    padding: 4px;
}

tooltip label {
    color: @fg;
}

.hidden {
    opacity: 0;
}
